arcade==3.0.2
attrs==25.3.0
black==25.9.0
cffi==2.0.0
click==8.1.8
flake8==7.3.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.4.0
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
pyglet==2.1.9
pymunk==6.9.0
pytiled_parser==2.2.9
pytokens==0.1.10
tomli==2.2.1
typing_extensions==4.15.0
